body {
	background-color:#F3F3F3;
}


.welcome-title{ 
	text-align: center;
	font-size:x-large;
	color:red;
	 }

.openingtimes-title{ 
	text-align:center;
	font-size:x-large;
	color:green; }




<!--Carousel Styling--> 
.carousel {
	height: 550px; 
	width: 275 px;
}
.carousel-head { 
	color:black; 
	font-weight:bold
}
.carousel-text{
	color:grey;
	font-weight:bold
}
.d-block{ 
	opacity: 0.5
}

<!--End of Carousel Styling-->




